# Default Vocode configuration
logging:
  default_level: debug
variables:
# OpenAI
  LLM_DISCOVERY_MODEL: gpt-5-mini
  LLM_ARCHITECT_MODEL: gpt-5.1
  LLM_ARCHITECT_REASONING: high
  LLM_ARCHITECT_REASONING: medium
  LLM_CODER_MODEL: gpt-5-mini
# Gemini
#  LLM_DISCOVERY_MODEL: gemini/gemini-3-flash-preview
#  LLM_ARCHITECT_MODEL: gemini/gemini-3-pro-preview
#  LLM_CODER_MODEL: gemini/gemini-3-flash-preview
#  LLM_DIFF_FORMAT: patch
default_workflow: "chat"
tools:
  - name: read_files
    auto_approve: true
  - name: summarize_files
    auto_approve: true
  - name: list_files
    auto_approve: true
  - name: search_project
    auto_approve: true
  - name: run_agent
    auto_approve: true
